:root {
    --black: rgba(19, 18, 18, 1);
    --gray: rgba(96, 96, 96, 1);
    --secondary-color: rgba(14, 166, 1, 1);
    --primary-color: rgba(242, 166, 0, 1);
    --heading-5-font-family: "Archivo", Helvetica;
    --heading-5-font-weight: 700;
    --heading-5-font-size: 24px;
    --heading-5-letter-spacing: 0px;
    --heading-5-line-height: normal;
    --heading-5-font-style: normal;
    --text-paragraf-text-font-family: "Inter", Helvetica;
    --text-paragraf-text-font-weight: 400;
    --text-paragraf-text-font-size: 16px;
    --text-paragraf-text-letter-spacing: 0px;
    --text-paragraf-text-line-height: 25px;
    --text-paragraf-text-font-style: normal;
    --body-1-font-family: "Archivo", Helvetica;
    --body-1-font-weight: 400;
    --body-1-font-size: 16px;
    --body-1-letter-spacing: 0px;
    --body-1-line-height: normal;
    --body-1-font-style: normal;

    :root {
    --black: rgba(19, 18, 18, 1);
    --secondary-color: rgba(14, 166, 1, 1);
    --paragraf-p-font-family: "Rubik", Helvetica;
    --paragraf-p-font-weight: 400;
    --paragraf-p-font-size: 16px;
    --paragraf-p-letter-spacing: 0px;
    --paragraf-p-line-height: normal;
    --paragraf-p-font-style: normal;
    --caption-font-family: "Archivo", Helvetica;
    --caption-font-weight: 400;
    --caption-font-size: 12px;
    --caption-letter-spacing: 0px;
    --caption-line-height: 24px;
    --caption-font-style: normal;
    --body-2-font-family: "Archivo", Helvetica;
    --body-2-font-weight: 400;
    --body-2-font-size: 14px;
    --body-2-letter-spacing: 0px;
    --body-2-line-height: normal;
    --body-2-font-style: normal;
    --body-1-font-family: "Archivo", Helvetica;
    --body-1-font-weight: 400;
    --body-1-font-size: 16px;
    --body-1-letter-spacing: 0px;
    --body-1-line-height: normal;
    --body-1-font-style: normal;
}

}
